* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main {
  width: 35%;
  height: 35%;
  margin: auto;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.title,
.input,
.todo_button,
p {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 1rem;
  border: 1px solid lightgray;
  background-color: white;
}

button {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #fff;
  border: 2px solid lightgray;
  align-content: center;
  align-items: center;
  padding: 1.5rem;
  list-style: none;
}

.task-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: start;
  align-items: center;
  align-content: center;
  padding: 1rem;
  gap: 1rem;
  border: 1px solid lightgray;
  list-style: none;
}

.Text {
  width: 65%;
}

input {
  border: none;
  background: none;
  outline: none;
}

.hidden {
  display: none;
}
